html, body {
	margin: 0;
    height: 100%;
    display: inline;
    overflow:auto;
	/*background: url(img.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;*/
}

body {
    position:relative;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
}

li.active a {
    /*color: #000 !important;*/
    background:sandybrown !important;
}


h1{
	font-family: 'Ubuntu', sans-serif;
	color: black;
    font-size:4em;
	/* padding: 8px; */
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    color:black;
}

.pageContent{
	float: left;
	background-color: white;
	/* overflow: auto; */
	height: 800px;
	width: 100%;
	z-index: 2;
}

.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img1 {
    background-image: url('desert.jpg');
    min-height:100%;
    opacity: .8;
}

.bg-img2 {
    background-image: url('shepherd.jpg');
    min-height: 800px;
}

.bg-img3 {
    background-image: url('king.jpg');
    min-height: 800px;
}

.bg-img4 {
    background-image: url('merchant.png');
    min-height: 800px;
}

.bg-img5 {
    background-image: url('fatima.jpg');
    min-height: 800px;
}

.bg-img6 {
    background-image: url('gold.jpg');
    min-height: 800px;
}

.parallax .headings {
    padding-left: 66%;
    padding-top: 40%;
}

.spacer {
    margin-top: -50px;
    padding-top: 50px;
}

.wrapper {
    background-color: #C2B280;
    padding-top:20px;
    padding-bottom:20px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-size: 2em;
}

blockquote:after {
    color: #ccc;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

#final {
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    line-height: 2;
}

label {
    font-family: 'Ubuntu', sans-serif;
}

#fatimaContent {
    text-align:center;
    vertical-align:middle;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
