html, body {
	margin: 0;
    height: 100%;
    display: inline;
    overflow:auto;
	/*background: url(img.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;*/
}

body {
    position:relative;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
}

li.active a {
    /*color: #000 !important;*/
    background:sandybrown !important;
}


h1{
	font-family: 'Ubuntu', sans-serif;
	color: black;
    font-size:4em;
	/* padding: 8px; */
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    color:black;
}

.pageContent{
	float: left;
	background-color: white;
	/* overflow: auto; */
	height: 800px;
	width: 100%;
	z-index: 2;
}

.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img1 {
    background-image: url('desert.jpg');
    min-height:100%;
}

.bg-img2 {
    background-image: url('desert.png');
    min-height: 800px;
}

.parallax .headings {
    padding-left: 66%;
    padding-top: 40%;
}

.spacer {
    margin-top: -44px;
    padding-top: 44px;
}

.wrapper {
    background-color: #C2B280;
}


