html, body {
	margin: 0;
    height: 100%;
    display: inline;
	/*background: url(img.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.navbar{
	padding-bottom: 24px;
	z-index: 1000;
}

h1{
	font-family: 'Ubuntu', sans-serif;
	color: black;
    font-size:4em;
	/* padding: 8px; */
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    color:black;
}

.pageContent{
	float: left;
	background-color: white;
	/* overflow: auto; */
	height: 800px;
	width: 100%;
	z-index: 2;
}

.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img1 {
    background-image: url('desert.png');
    min-height:100%;
}

.bg-img2 {
    background-image: url('desert.jpg');
    min-height: 400px;
}

.parallax .headings {
    padding-left: 66%;
    padding-top: 40%;
}

