html, body {
	margin: 0;
	/*background: url(img.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.navbar{
	padding-bottom: 24px;
	z-index: 1000;
}

h1{
	font-family: 'Ubuntu', sans-serif;
	color: black;
	/* padding: 8px; */
}

.pageContent{
	float: left;
	background-color: white;
	/* overflow: auto; */
	height: 800px;
	width: 100%;
	z-index: 2;
}

